.total-sum {
  margin-left: auto;
  margin-right: 30px;
  font-weight: bold;
  color: blue;
}

.user-info {
  margin-left: auto;
  margin-right: 30px;
  font-weight: bold;
}

.user-basket-sum {
  width: 100px;
  display: inline-block;
  text-align: center;
}
