<p-toast></p-toast>

<div
  class="flex justify-content-center flex-wrap card-container yellow-container"
>
  <div>
    <form [formGroup]="addressForm">
      <label class="address-header">Адрес доставки:</label>

      <div class="address-main">
        <span class="p-float-label">
          <input
            id="country-input"
            type="text"
            pInputText
            formControlName="country"
          />
          <label for="country-input">Страна</label>
          <small
            *ngIf="isControlInvalid('country')"
            id="country-input-help"
            class="block"
            >Необходимо указать страну.
          </small>
        </span>

        <span class="p-float-label">
          <input
            id="city-input"
            type="text"
            pInputText
            formControlName="city"
          />
          <label for="city-input">Город</label>
          <small
            *ngIf="isControlInvalid('city')"
            id="city-input-help"
            class="block"
            >Необходимо указать город.</small
          >
        </span>

        <span class="p-float-label">
          <input
            id="street-input"
            type="text"
            pInputText
            formControlName="street"
          />
          <label for="street-input">Улица</label>
          <small
            *ngIf="isControlInvalid('street')"
            id="street-input-help"
            class="block"
            >Необходимо указать улицу.</small
          >
        </span>
      </div>

      <label class="address-home-group-label">Дом:</label>
      <div formGroupName="homeInfo">
        <span class="p-float-label">
          <input
            id="block-input"
            type="text"
            pInputText
            formControlName="block"
          />
          <label for="block-input">Строение/корпус</label>
        </span>

        <span class="p-float-label">
          <input
            id="number-input"
            type="text"
            pInputText
            formControlName="number"
          />
          <label for="number-input">Номер</label>
          <small
            *ngIf="isControlInvalid('homeInfo.number')"
            id="number-input-help"
            class="block"
            >Необходимо указать номер дома.</small
          >
        </span>
      </div>
    </form>
    <div class="address-button">
      <p-button
        label="Отправить"
        (click)="onPush()"
        [disabled]="addressForm.invalid"
      ></p-button>
    </div>
    <div class="address-button">
      <p-button label="Очистить" (click)="onReset()"></p-button>
    </div>
  </div>
</div>
