<div class="flex align-items-center justify-content-center">
  <div class="grid" *ngIf="product">
    <div class="col-fixed product-image-col" *ngIf="product.image">
      <p-carousel [value]="product.image">
        <ng-template let-image pTemplate="item">
          <img
            [src]="'assets/data/images/product/' + image"
            [alt]="product.name"
          />
        </ng-template>
      </p-carousel>
    </div>
    <div class="col-fixed product-details-col">
      <h1>{{ product.name }}</h1>
      <h2>
        <div *ngIf="product.rating">
          <p-rating
            [ngModel]="product.rating"
            [readonly]="true"
            [cancel]="false"
          >
          </p-rating>
        </div>
      </h2>
      <h3 *ngIf="product.feedbacksCount">
        Отзывов: {{ product.feedbacksCount }}
      </h3>
      <div class="grid">
        <div class="col product-description-col">
          Характеристики
          <div class="product-description-text">{{ product.description }}</div>
        </div>

        <div class="col-fixed product-price-col">
          <div
            *appCarousel="
              let currency of currencies;
              next as next;
              back as back
            "
          >
            <i class="pi pi-angle-left" (click)="back()"></i>
            <i class="product-price" *ngIf="product.price">{{
              product.price | currencyConv: "EUR":currency
            }}</i>
            <i class="pi pi-angle-right" (click)="next()"></i>
          </div>
          <br />
          <p-button
            icon="pi pi-shopping-cart"
            label="В корзину"
            [disabled]="product.inventoryStatus === 'OUTOFSTOCK'"
            (click)="onAddToBasket()"
          >
          </p-button>
        </div>
      </div>
    </div>
  </div>
</div>
