<div class="grid">
  <div
    class="col-fixed"
    *ngIf="categories$ | async as categories"
    style="width: 20%"
  >
    <app-side-menu
      [categories]="categories"
      (selectedCategory)="this.categoryChanges$.next($event)"
    >
    </app-side-menu>
  </div>
  <div class="col" *ngIf="userCurrency$ | async as userCurrency">
    <app-data-view
      #dataView
      [products]="(products$ | async)!"
      [storeCurrency]="mainCurrency"
      [userCurrency]="userCurrency"
    >
    </app-data-view>
  </div>
</div>
